* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

 body {
    background-color: rgb(233, 219, 219);
 }

 html {
    font-family: 'Oswald', sans-serif;
 }

 .container {
    padding: 2em;
 }

 .top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
 }

.top-navigation-left {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.top-navigation-left img {
    width: 10%;
}

.top-navigation-links {
    display: flex;
    gap: 5em;
}

.top-navigation-links a {
    text-decoration: none;
    color: rgb(157, 16, 212);
    font-size: 25px;
}

.top-navigation-right {
    display: flex;
    gap: 1em;
    align-items: flex-end;
    /* padding-right:5px; */
}

.top-navigation-right img {
    width: 20px;
    /* width: 10%; */
    cursor: pointer;
}

.top-navigation-right a {
    text-decoration: none;
    color: rgb(157, 16, 212);
}

.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

/* .card1 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card2 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card3 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card4 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card5 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card6 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card7 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

.card8 {
    display: flex;
    justify-content: center;
    gap: 0em;
    padding: 0px;
    background-color: white;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2em;
} */

.product-grid {
    display: grid;
    /* gap: 0.25rem; */
    /* either - or */
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    aspect-ratio: 1 / 1.3;
    text-align: center;
    color: rgb(157, 16, 212);
    background-color: white;
    /* border: 5px solid rgb(233, 219, 219); */
    border-radius: 10px;
}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    text-decoration: none;
    color: rgb(66, 0, 128);
}

.footer {
    color:blueviolet;
}

.footer a {
    text-decoration: none;
    color: rgb(26, 199, 49)
}

.footer button {
    float: right;
    border: none;
    color: white;
    background-color: rgb(26, 199, 49);
    width: 90px;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}